<div class="col-xs-12" id="header-main">
  <h1 id="main-header">Rails Job Hub</h1>
  <h2 id="main-description">Rails Ruby Webscraping</h2>
</div>
<div class="container col-xs-12" id="body-main">
  <ul class="logo col-xs-12">
       <li class="dropdown col-xs-2 col-xs-offset-5">
         <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%= image_tag('ThumbRailsJobHub.jpg', class: "center-block") %>
         </a>
         <ul class="dropdown-menu col-xs-12 text-center" aria-labelledby="dLabel">
           <li class=""><%= link_to "Jobs", jobs_path %></li>
           <li class=""><%= link_to "Contracts", contracts_path %></li>
         </ul>
       </li>
  </ul>
  
  <ul class="list-inline" id="jobs-list" >
    <li class="dropdown">
      <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= image_tag('Freelancer.PNG') %>
      </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to "Rails", freelancer_rails_path %></li>
          <li><%= link_to "Scrape", freelancer_scrape_path %></li>
        </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= image_tag('upwork1.png') %>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to "Rails", upwork_rails_path %></li>
        <li><%= link_to "Scrape", upwork_scrape_path %></li>
        <li><%= link_to "Ruby", upwork_ruby_path %></li>
      </ul>
    </li>
    <li>
      <%= link_to image_tag('wework.png'), "/weworkremotely" %>
    </li>
    <li>
      <%= link_to image_tag('Indeed.PNG'), "/indeed" %>
    </li>
    <li>
       <%= link_to image_tag('stackoverflow.png'), "/stackjobs" %>
    </li>
    <li>
      <%= link_to image_tag('github.png'), "/github" %>
      <!--<div id="github-logo"></div>-->
    </li>
    <li>
      <%= link_to image_tag('cybercoders.png'), "/cybercoders" %>
    </li>
    <li>
      <%= link_to image_tag('careerbuilder.png'), "/careerbuilder" %>
    </li>
    <li>
      <%= link_to image_tag('remotelyawesome.png'), "/remotelyawesome" %>
    </li>
  </ul>
</div>
<div class="col-xs-12" id="bottom-main">
  <%= render 'main/bottom' %>
</div>