<div class="left-col col-xs-6">
  <% @weworkrails_1.each do |job| %>
    <div class="col-xs-12 box">
      <span class="col-xs-12 job-title">
        <h3><%= link_to "#{job.company}", "#{job.link}", target: "_blank" %></h3>
      </span>
      <span class="col-xs-12 job-description"><%= job.description %></span>
      <div class="col-xs-12 text-center"><p><%= job.descriptionlong %></p></div>
      <span class="col-xs-3 job-start"><b><%= job.date %></b></span>
    </div>
  <% end %>
</div>

<div class="right-col col-xs-6">
  <% @weworkrails_2.each do |job| %>
    <div class="col-xs-12 box">
      <span class="col-xs-12 job-title">
        <h3><%= link_to "#{job.company}", "#{job.link}", target: "_blank" %></h3>
      </span>
      <span class="col-xs-12 job-description"><%= job.description %></span>
      <div class="col-xs-12 text-center"><p><%= job.descriptionlong %></p></div>
      <span class="col-xs-3 job-start"><b><%= job.date %></b></span>
    </div>
  <% end %>
</div>