<div class="google_adsense" style="overflow-x:hidden;">
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5374261406606651"
       data-ad-slot="2961381084"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
</div>

<div class="title_description">
  <h3>
    <%= @job.title %>
  </h3>
  <div class="meta_description">
    <div>
      <span><%= humanDate(@job.date) %> - </span>
      <span><%= @job.source %></span>
    </div>
    <div>
      <span><%= @job.company %> - </span>
      <span><%= @job.location %></span>
    </div>
  </div>
</div>

<div class="job__description">
  <%= @job.description.html_safe %>
</div>
<div class="text-center">
  <a href=<%=@job.link%> target="_blank">
    <button class="btn btn-lg btn-success">
      Apply Here!
    </button>
  </a>
</div>
