<div data-controller="scrollbar" class="grid" id="scrollbar">
  <%= render 'layouts/header' %>

  <div data-target="scrollbar.left"
       data-action="ps-y-reach-end->scrollbar#scrollBottom"
       class="grid__left">
    <%= render 'home_page/job_meta' %>
    <div data-controller="job-meta" class="text-center">
      <%= button_to( home_index_path, type: "html",
                   class: "btn btn-lg btn-primary load_jobs",
                   method: :get, params: {page: "2"}, remote: true) do %>
        <span class="load__button">
          Load More Jobs
        </span>
      <% end %>
    </div>
  </div>

  <div data-target="scrollbar.right" class="grid__right" id="job_description">
    <%= render 'home_page/job_description' %>
  </div>

  <div class="grid__footer">
    <div class="footer_job_post">
      <%= link_to(new_job_path) do %>
      <button class="btn btn-sm btn-success">
        Post a Job for Free!
      </button>
      <% end %>
    </div>
    <div class="footer_contact">
      <%= link_to(new_contact_path) do %>
      <button class="btn btn-sm btn-primary">
        Contact Us!
      </button>
      <% end %>
    </div>
  </div>

</div>
