<div class="col-xs-6 left-col">
  <% @valid_array_left.each do |contract| %>
    <div class="col-xs-12 box">
      <span class="col-xs-12 job-title"><%= contract.title %></span>
      <span class="col-xs-12 job-description"><%= (@contract.description).html_safe %></span>
      <div class="col-xs-4"><%= contract.created_at      %></div>
    </div>
  <% end %>
</div>
<div class="col-xs-6 right-col">
  <% @valid_array_right.each do |contract| %>
    <div class="col-xs-12 box">
      <div class="col-xs-12 job-title"><h1 class="contracts-title"><%= contract.title %></h1></div>
      <div class="col-xs-12 job-description"><%= contract.description.html_safe %></div>
      <div class="col-xs-4"><%= contract.created_at %></div>
    </div>
  <% end %>
</div>