<div class="col-xs-7 col-xs-offset-2 create-contract">

  <div class="col-xs-6 image-header-shit">
   <%= image_tag("RailsJobHub.jpg", class: "img-responsive") %>
  </div>

  <div class="col-xs-6 contract-job-explanation">
    Your contract job listing will remain on this site for 7 days.  After seven days your listing will be 
    removed.  You can always post your contract job listing for $19.99 for another 7 days.  
  </div>
  
  
  
    <h1 class="col-xs-12">STEP 1: CREATE YOUR AD</h1>
  
 
  
  
  
  
  
  
<div class="form-group col-xs-12">
  <%= form_for @contract_job do |f| %>
  
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "form-control input-lg" %>
  <br>
  <%= f.label :description %><br>
  <%= f.text_area :description, class: "form-control input-lg" %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control input-lg" %>
  <br>
  
   <%#  f.submit 'Preview', name: 'preview_button'  %>
   <%= f.submit "Create Job Post", class: "btn btn-primary btn-lg" %>
  
  <% end %>

</div>
  
</div>

