



<h1>STEP 1: CREATE YOUR AD</h1>
<div class="form form-control">
  
  <%= form_for @contract_job do |f| %>
    <% if @contract_job.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@contract_job.errors.count, "error") %> prohibited
              this article from being saved:
        </h2>
      <% @contract_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </div>
    <% end %>
    
  
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "form-control input-lg" %>
  <br>
  <%= f.label :description %><br>
  <%= f.text_area :description, class: "form-control input-lg" %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control input-lg" %>
  <br>
  
   <%#  f.submit 'Preview', name: 'preview_button'  %>
   <%= f.submit "Create Job Post", class: "btn btn-primary btn-lg" %>
  
  <% end %>

</div>
  


