<% provide(:title, @contract_job.title) %>
<div class="col-xs-7 col-xs-offset-2 create-contract ">
  
  <div class="col-xs-12">
    <div class="col-xs-6 row ">
      <%= image_tag("RailsJobHub.jpg", class: "img-responsive") %>
     </div>
  </div> 
  
  <h1 class="col-xs-12 "><%= @contract_job.title %></h1>
  
  <p class="col-xs-12"><%= @contract_job.description.html_safe %>
  
  <div class="col-xs-12 buttons ">
    <%= link_to edit_contract_path(@contract_job.id) do %>
      <button class="btn btn-lg btn-primary">Edit</button>
    <% end %>
    <%= link_to :controller => "charges", action: "new" do %>
      <button class="btn btn-lg btn-danger buttons-checkout">Looks Great! Go to Checkout</button>
    <% end %>
  </div>
  

</div>