<div class="col-xs-7 col-xs-offset-2 create-contract">
  <div class="col-xs-6 image-header-shit">
   <%= image_tag("RailsJobHub.jpg", class: "img-responsive") %>
  </div>
  <div class="col-xs-6 contract-job-explanation">
    Your permanent job listing will remain on this site for 30 days.  After thirty days your listing will be 
    removed.  You can always post your permanent job listing again for $199.00 for another 30 days.  
  </div>
    <h1 class="col-xs-12"> CREATE YOUR AD</h1>
<div class="form-group col-xs-12">
  <%= form_for @job do |f| %>
  
  <%= f.label :title %><br>
  <%= f.text_field :title, class: "form-control input-lg" %>
  <br>
  <%= f.label :description %><br>
  <%= f.text_area :description, class: "form-control input-lg wysihtml5", id: "contract-content" %>
  <div id="count"></div>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control input-lg" %>
  <br>
  <%= f.label :Upload_Your_Logo %>
  <%= f.file_field :logo, class: "" %>
  <br>
  <%= f.label :How_do_applicants_apply? %>
  <%= f.text_field :applyinfo, class: "form-control input-lg" %>
  
  
  <script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5({'toolbar':{ 'blockquote': true, 'html': false, 'image': false, 'lists': false, 'link': false},
        'events': {
            'load': function() {
              var editor = this;
              $(editor.currentView.doc.body).on("keyup",function(event) {
                var l = event.currentTarget.innerText.length;
                if(l >= 12000) {
                  $('#count').html('<span class="text-danger">Total characters exceed 12000. Extra characters will not be saved.</span>');
                } else {
                  var left = 12000 - l;
                  $('#count').html('<span class="text-info">'+ left + ' characters left ' +'</span>');
                }
              }); 
            }
          }
      });
      
    });

  })
  
 
</script>
  <br>
   <%#  f.submit 'Preview', name: 'preview_button'  %>
   <%= f.submit "Create Job Post", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
</div>
