<div class="col-xs-7 col-xs-offset-2">
  
  <div class="col-xs-7 col-xs-offset-2">
  <div class="col-xs-6 row ">
    <%= image_tag("RailsJobHub.jpg", class: "img-responsive") %>
  </div>
  
  <div class="col-xs-12 invoice">
   <h2>Thanks, you paid <strong>$19.99</strong>!</h2>
  </div>
  
  <div class="col-xs-12 invoice">
     Please Print this Out for Your Records
  </div><br><br>
  
  <div class="col-xs-12 invoice">
     Your email: <%= @contract_job_id.email %>
  </div><br>
  
  <div class="col-xs-12 invoice">
     Job Title: <%= @contract_job_id.title %>
  </div><br>
  
  <div class="col-xs-12 invoice">
     Job Description: <%= @contract_job_id.description.html_safe %>
  </div>
  
  <div class="col-xs-12 invoice">
     Job Id: <%= @contract_job_id.id  %>
  </div><br>
  

  <%= link_to "Main", root_path, class: "btn btn-lg" %>
  
  
  
  
</div>