<!DOCTYPE html>
<html>
  <head>
    <title><%= @location_tab %>| RailsJobHub</title>
    <%= csrf_meta_tags %>

    <% if @nofollow %>
      <meta name="robots" content="noindex, nofollow">
    <% end %>

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138906419-1"></script>
    <% end %>

    <%= favicon_link_tag asset_pack_path('media/images/ruby.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= javascript_pack_tag 'application', async: true %>
    <%= stylesheet_pack_tag 'application', async: true %>
    <% if @trix %>
      <%= javascript_pack_tag 'trix', async: true %>
      <%= stylesheet_pack_tag 'trix', async: true %>
    <% end %>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-3264553769030878",
              enable_page_level_ads: true
         });
    </script>

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <% if Rails.env.production? %>
      <div data-controller="google-analytics" style="display: hidden">
      </div>
    <% end %>
  </body>
</html>
