<!DOCTYPE html>
<html>
  <head>
    <title><%= @location_tab %>| RailsJobHub</title>
    <%= csrf_meta_tags %>

    <% if @nofollow %>
      <meta name="robots" content="noindex, nofollow">
    <% end %>

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138906419-1"></script>
    <% end %>

    <%= javascript_pack_tag 'application', async: true %>
    <% if @trix %>
      <%= javascript_pack_tag 'trix', async: true %>
    <% end %>

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

    <% if Rails.env.production? %>
      <div data-controller="google-analytics" style="display: hidden">
      </div>
    <% end %>
  </body>
</html>
