<!DOCTYPE html>
<html>
  <head>
    <title><%= @location_tab %>| RailsJobHub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Cinzel:900|Josefin+Slab:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Revalia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <% unless @nav_bar == nil %>
        <%= render @nav_bar %>
      <% end %>
        <%= yield %>
    </div>
  </body>
</html>
