<!DOCTYPE html>
<html>
  <head>
    <title><%= @location_tab %>| RailsJobHub</title>
    <%= csrf_meta_tags %>

    <% if @nofollow %>
      <meta name="robots" content="noindex, nofollow">
    <% end %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-100028364-1', 'auto');
      </script>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5374261406606651",
          enable_page_level_ads: true
        });
      </script>
    <% end %>

    <%= javascript_pack_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:900|Josefin+Slab:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Revalia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <div style="display: hidden">
      <% if @trix %>
        <%= javascript_pack_tag 'trix' %>
      <% end %>
    </div>
  </body>
</html>
